body, html, #root {
    height: 100%;
    margin: 0;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .sticky-header {
    position: sticky;
    top: 56px; /* Adjust this value to the height of the navbar */
    height: calc(100vh - 56px);
    background: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
  }
  
  .content {
    padding: 20px;
    overflow-y: auto;
  }
  